#navCabecera{
    display: flex;
    position: fixed;
    top: 0;
    z-index: 1000;
    width: 100vw;
    height: fit-content;
    flex-wrap: wrap;
    padding: 20px 0;
    background: var(--fondoEtiqueta);
}
#navCabecera > div:nth-child(1){
    flex-grow: 1;
    display: flex;
    justify-content: start;
    align-items: center;
    padding-left: 20px;
    box-sizing: border-box;
}
#navCabecera > div:nth-child(1) > img{
    height: 50px;
    cursor: pointer;
}
#logoName{
    display: none;
    height: fit-content;
    text-align: center;
    margin-left: 5px;
    font-family: 'Square Peg', cursive;
    font-size: 26px;
    font-weight: bold;
    letter-spacing: 8px;
    border-radius: 8px;
    background: rgb(255,0,184);
    background: linear-gradient(338deg, rgba(255,0,184,1) 32%, rgba(255,255,255,1) 50%); 
}
@keyframes moveBarra{
    from{
        width: 0;
    }
    to{
        width: 109px;
    }
}
#navCabecera > div:nth-child(2){
    width: fit-content;
    padding-right: 10px;
    box-sizing: border-box;
}
.containerIconNav{
    padding: 8px;
    margin-right: 10px;
    border-radius: 5px;
    cursor: pointer;
}
.containerIconNav:nth-child(2){
    position: relative;
}
.containerIconNav:hover{
    background: var(--fondoPrincipal);
}
#numCompra{
    position: absolute;
    right: -5px;
    top: -25px;
    color: var(--fondoPrincipal);
    font-weight: bold;
    font-size: 18px;
}